@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

h1, h2 {
    font-family: 'Satisfy', cursive;
}
header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}